{{#if restaurant}}
<h2>{{restaurant.name}}</h2>
{{else}}
<h2>That restaurant couldn't be found!</h2>
{{/if}}

<h2>Update Restaurant Information</h2>
<form action="/restaurants/{{restaurant.name}}?_method=put" method="post">
  <input type="text" name="restaurant[name]" placeholder="Name">
  <input type="text" name="restaurant[address.street]" placeholder="street address">
  <input type="text" name="restaurant[address.zipcode]" placeholder="zipcode">
  <input type="text" name="restaurant[yelpUrl]" placeholder="yelp reviews">
  <input type="submit" value="Update">
</form>

<h2>Add Menu Item</h2>
<form action="/restaurants/{{restaurant.name}}?_method=put" method="post">
  <input type="text" name="restaurant[name].menuItem" placeholder="Title">
  <input type="submit" value="Update">
</form>

<h2>Delete Menu Item</h2>
{{!-- get specified menuItem? --}}
<form action="/restaurants/{{restaurant.name}}?_method=delete" method="post">
    <input type="submit" value="Remove">
</form>

<h2>Delete Restaurant</h2>
<form action="/restaurants/{{restaurant.name}}?_method=delete" method="post">
    <input type="submit" value="Remove">
</form>
